<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти в игру</title>
    <link rel="icon" type="image/x-icon" href="/static/img/enter.png">

    <link rel="stylesheet" href="../static/css/create.css">
    <link rel="stylesheet" href="../static/css/return.css">
</head>
<body>
    <div class="back-button-container" style="position: absolute; top: 20px; left: 20px;">
        <a href="/" class="btn_return_create btn_return-back_create flash-btn">Назад</a>
    </div>
    <h2>Войти в игру</h2>
    <form id="joinRoomForm">
        <div class="form-group">
            <label for="roomIdInput">ID комнаты:</label>
            <input type="text" id="roomIdInput" name="roomId" placeholder="Введите ID комнаты" required>
        </div>
        <button type="submit" class="btn flash-btn dark">Присоединиться к игре</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/js/joinRoom.js"></script>
</body>
</html>
