<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="icon" type="image/x-icon" href="/static/img/error.png">

    <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>

    <img src="../static/img/17.jpeg" alt="Страница не найдена" class="error-image">

    <p class="error-text">Упс, кажется, такой страницы не существует!</p>

    <a href="/" class="return-home-btn flash-btn">Вернуться на главную страницу</a>
</body>
</html>
