<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила игры в «Дальдоза»</title>
    <link rel="icon" type="image/x-icon" href="/static/img/rules.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/rules.css">
    <link rel="stylesheet" href="../static/css/return.css">
</head>
<body>
    <div class="content">
        <form action="/" method="get" class="back-button-form">
            <button type="submit" class="btn_return btn_return-back flash-btn">Назад</button>
        </form>

        <div class="rules-container">
            <h1>Правила игры в «Дальдоза»</h1>
            <div class="rules-text">
            <p>
                «Дальдоза» или «Daldos» – древняя настольная логическая игра Скандинавских мореходов для двух игроков.
            </p>

            <p>
                Доску для игры традиционно делают в виде корабля, а фишки напоминают сидящих вдоль борта гребцов.
                На поле три параллельных ряда отверстий: по 16 в крайних и 17 – в центральном.
            </p>

            <p>
                У каждого игрока есть 16 фишек-колышков в виде лопатки или шпателя – такая форма помогает отличать активную фишку от неактивной.
            </p>

            <p>
                Игра отличается формой игральных костей – это две короткие четырёхгранные палочки, похожие на толстые спички с пирамидальными или скруглёнными концами, чтобы кости при броске не становились на дыбы.
                Три грани несут разметку «II», «III» и «IV».
                Вместо единицы принято рисовать букву «A»: эта грань называется «Дал», а сторона с двойкой – «Дос», что и дало название игре.
            </p>

            <p>
                В начале игроки размещают фишки на внешних рядах поля перпендикулярно дорожкам, показывая, что фишки находятся в неактивном состоянии.
                Затем участники бросают кости и тот, кто выбросил больше, начинает.
            </p>

            <p>
                Первый ход игроки всегда делают на центральную дорожку.
                Для начала движения нужно, чтобы хотя бы одна кость показала «Дал» – это позволяет активировать фишку: игрок поворачивает её параллельно дорожкам и делает ею ход вперёд на одно поле.
                Активировать можно любую фишку в ряду.
            </p>

            <p>
                Фишки движутся по центральной дорожке от «кормы» к «носу» корабля и по пути рубят друг друга, если догоняют и встают на одно поле.
                Срубленная фишка удаляется с доски. Чужие фишки можно перепрыгнуть (они от этого не пострадают), но свои нельзя.
                Выпавший «Дал» используют, чтобы активировать новую фишку или сходить уже активной на единицу.
            </p>

            <p>
                Выпавшие на костях очки можно суммировать для одной фишки, а можно распределить между двумя.
                Если выпало «Дал-Дал», игроку положен дополнительный бросок.
                Все выпавшие очки должны быть использованы, если это возможно: от хода нельзя отказываться, и только если ход невозможен, он пропускается.
            </p>

            <p>
                Фишка, достигшая «носа» корабля, выходит на дорожку противника и движется по ней с «носа» на «корму», срубая (или перепрыгивая) фишки, задержавшиеся на старте.
                Рубить можно любую фишку – и активную, и неактивную. Если такая фишка добирается до «кормы», она опять выходит на центральную дорожку, идёт к «носу» и так циркулирует, пока её не срубят.
                На исходную дорожку она больше не возвращается.
            </p>

            <p>
                Игра продолжается, пока у одного из игроков не останется всего одна фишка – он и считается проигравшим.
            </p>
            </div>
        </div>
    </div>
</body>
</html>